<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DimmingContol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DimmingContol.Properties.Settings>
            <setting name="WidthHeight" serializeAs="String">
                <value>1920 * 1080</value>
            </setting>
            <setting name="IP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>172.22.56.178</string>
                        <string>172.22.56.178</string>
                        <string>172.22.56.178</string>
                        <string>192.168.0.103</string>
                        <string>192.168.0.104</string>
                        <string>192.168.0.105</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SubMask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>255.255.255.0</string>
                        <string>255.255.255.0</string>
                        <string>255.255.255.0</string>
                        <string>255.255.255.0</string>
                        <string>255.255.255.0</string>
                        <string>255.255.255.0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Gateway" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>192.168.0.1</string>
                        <string>192.168.0.1</string>
                        <string>192.168.0.1</string>
                        <string>192.168.0.1</string>
                        <string>192.168.0.1</string>
                        <string>192.168.0.1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Port" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>502</string>
                        <string>5000</string>
                        <string>5000</string>
                        <string>5000</string>
                        <string>5000</string>
                        <string>5000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ControllerName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>정릉 터널</string>
                        <string>정릉 터널 통합</string>
                        <string>홍지문 터널 통합</string>
                        <string>홍지문 터널 문화촌</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ascendingDirection" serializeAs="String">
                <value>마장방면</value>
            </setting>
            <setting name="descendingDirection" serializeAs="String">
                <value>성산방면</value>
            </setting>
            <setting name="NumController" serializeAs="String">
                <value>4</value>
            </setting>
        </DimmingContol.Properties.Settings>
    </userSettings>
</configuration>